:root{
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputContainer{
    background-color:white;
    border-radius: 12px;
    margin: 1rem 8rem;
    width: 25vw;
    height: 45vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputContainer li {
    line-height: 2rem;
    object-fit: contain;
    font-size: 120%;
    font-weight: 400;
}

.listContainer {
    background-color:white;
    border-radius: 12px;
    margin: 1rem 4rem;
    width: 35vw;
    height: 40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


ul {
    list-style: none;
}

#task{
    resize: none;
}

#submitBtn {
    margin-left: 68%;
}

.tableContainer {
    display: none;
    margin: 2rem;
}

